/* JavaFX CSS */
.button {
	-fx-background-color: #3867d6;
	-fx-font-family: 'Open Sans', 'Helvetica Neue', 'Arial', 'sans-serif';
	-fx-text-fill: white;
}

.combo-box {
	-fx-border-width: 0.5px;
	-fx-border-radius: 50px;
	-fx-background-radius: 50px;
	-fx-background-color: #f1c40f;
	-fx-font-size: 14px;
	-fx-font-family: 'Open Sans', 'Helvetica Neue', 'Arial', 'sans-serif';
	-fx-padding: 0px;
	-fx-text-fill: white;
}

.label {
	-fx-font-family: 'Open Sans', 'Helvetica Neue', 'Arial', 'sans-serif';
}

.textfield {
	-fx-font-family: 'Open Sans', 'Helvetica Neue', 'Arial', 'sans-serif';
}

#commandview2 {
    -fx-font-family: Consolas;
    -fx-font-size: 15;
    -fx-text-fill: #32ff7e;
    -fx-display-caret:true;
}

#commandview2 .content {
    -fx-background-color: #000000;
}
